<!DOCTYPE html>
<html>
  <head>
    <title>KadaiTasklist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- layouts/_flash_tasks.html.erbの拡張子はいらない -->
    <!-- ファイル名は_flash_tasksだが、以下では最初の_を除くこと-->
    <%= render "layouts/flash_tasks" %>
    <%= yield %>
  </body>
</html>
