<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>KadaiTasklist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>

  <body>
    
    <!--ナビバー表示-->
    
    <%= render "layouts/navbar" %>
    
    <!-- layouts/_flash_tasks.html.erbの拡張子はいらない -->
    <!-- ファイル名は_flash_tasksだが、以下では最初の_を除くこと-->
    
    <div class = "container">
      <%= render "layouts/flash_tasks" %>
      <%= yield %>
    </div>
  </body>
</html>
